---
title: Pair Showcase
toc: true
layout: default
description: Pair Showcase!
courses: { compsci: {week: 3, categories: [3.A, 5.B]} }
categories: [C3.0, C3.1, C4.1]
type: hacks
---

## Pair Showcase Plans
- Talk about JS Output with jquery
- Multiple tables, include a graph or two reflecting data in tables
  - Tables will all have custom colors (tan variations) and graphs will also have distinct colors (blue and purple)
- One Markdown Table (average global temperatures annually)
- One HTML Table (average monthly precipitation vs. umbrellas sold)
  - Line chart based on data
- Two HTML Tables with Javascript jquery (% awareness and concern on climate change in different countries)

### Markdown Table
Average global temperature and carbon dioxide data from 2010-2019. [Source!](https://www.chegg.com/homework-help/questions-and-answers/part-2-plotting-temperature-carbon-dioxide-data-module-graphing-recent-average-global-temp-q105296562)

| Year | Temperature (Â°C) | CO2 (ppm) |
|------|-------|------|
|2010|16.7|389.9|
|2011|16.6|391.6|
|2012|16.7|393.9|
|2013|16.7|396.6|
|2014|16.8|398.6|
|2015|16.9|400.9|
|2016|17.0|404.3|
|2017|16.9|406.6|
|2018|16.9|408.6|
|2019|17.0|411.5|

### HTML Table
Average monthly rainfall and number of umbrellas sold. [Source!](https://www.chegg.com/homework-help/questions-and-answers/c-sample-data-average-monthly-rainfall-number-umbrellas-sold-last-12-months-given-table-6--q79866326)

In [12]:
%%html
<table class="table">
    <thead>
        <tr>
            <th>Month</th>
            <th>Rainfall (mm)</th>
            <th>Umbrellas Sold</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jan</td>
            <td>82</td>
            <td>15</td>
        
        </tr>
        <tr>
            <td>Feb</td>
            <td>93</td>
            <td>25</td>
            
        </tr>
        <tr>
            <td>Mar</td>
            <td>84</td>
            <td>17</td>
            
        </tr>
        <tr>
            <td>Apr</td>
            <td>98</td>
            <td>28</td>
            
        </tr>
        <tr>
            <td>May</td>
            <td>132</td>
            <td>41</td>
           
        </tr>
        <tr>
            <td>Jun</td>
            <td>141</td>
            <td>47</td>
           
        </tr>
        <tr>
            <td>Jul</td>
            <td>166</td>
            <td>50</td>
            
        </tr>
        <tr>
            <td>Aug</td>
            <td>140</td>
            <td>46</td>
      
        </tr>
        <tr>
            <td>Sep</td>
            <td>127</td>
            <td>37</td>
      
        </tr>
        <tr>
            <td>Oct</td>
            <td>98</td>
            <td>22</td>
      
        </tr>
        <tr>
            <td>Nov</td>
            <td>86</td>
            <td>20</td>
      
        </tr>
        <tr>
            <td>Dec</td>
            <td>100</td>
            <td>30</td>
      
        </tr>
    </tbody>
</table>

In [2]:
%%html
<iframe src="http://localhost:8000/_includes/chart.html" width="650" height="350"></iframe>

### ChatGPT Review

#### Accomplishments with Line Chart
- <mark><b>Library import:</b></mark> necessary for creating chart included (Chart.js library)
- <mark><b>HTML structure:</b></mark> straightforward; 'canvas' is defined with "myChart" within a 'div' container setting width & height for chart
- <mark><b>Data definition:</b></mark> two sets of data defined - "Average Rainfall per Month" and "Umbrellas Sold" both as arrays
- <mark><b>Chart configuration:</b></mark> 'data' specifies datasets, labels, properties like color and border styles; 'config' defines the type of chart and options
- <mark><b>Chart initialization:</b></mark> JavaScript used to initalize and render chart, 'getElementById' used to obtain chart's context, 'new Chart(ctx,config)' instantiates chart
- <mark><b>Visualization:</b></mark> data for rainfall and umbrellas displayed on separate lines, x-axis shows months and y-axis displays values
- <mark><b>Title and Labels:</b></mark> added title for context, legend is set to not display
- <mark><b>Color choices:</b></mark> distinct colors chosen for lines and hover effects, visually appealing and easy to read
- <mark><b>Data Values:</b></mark> represent average rainfall and umbrellas sold for each month

#### Errors Encountered
- <b>Rendering Output:</b> If your JavaScript code generates visual output, such as charts or interactive widgets, it may not render as smoothly or interactively within the Jupyter Notebook interface as it would in a web browser.
- <b>Duplicate Declaration of labels:</b> You've declared the labels variable twice in your code, once as an array of month names and once using Utils.months({count: 12}). You should remove the duplicate declaration to avoid conflicts.
- <b>Missing Chart Initialization:</b> You've defined the chart configuration (config), but you need to initialize and render the chart using the Chart object.
- The error message you're seeing, "`/student/c3.0/c3.1/c4.1/2023/09/05/chart.html' not found," indicates that the Jupyter Notebook is attempting to locate an HTML file named "chart.html" in a specific directory path but is unable to find it.

### HTML Table with JavaScript jquery
The following table shows different countries and their awareness of climate change. [Source!](https://www.carbonbrief.org/global-survey-where-in-the-world-is-most-and-least-aware-of-climate-change/)

In [44]:
%%html

<!-- Head contains information to Support the Document -->
<head>
    <!-- load jQuery and DataTables output style and scripts -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>var define = null;</script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</head>

<style>
    table, th, td {
      border: 3px solid rgb(1, 1, 1);
      border-collapse: collapse;
      border-style: double;
    }
    th {
      background-color: rgb(189, 198, 139);
    }
    td {
      background-color: #e8f4bbb1;
    }
    </style>

<!-- Body contains the contents of the Document -->
<body>
    <table id="demo" class="table">
        <thead>
            <tr>
                <th>Rank (of 119)</th>
                <th>Country</th>
                <th>Awareness (%)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Japan</td>
                <td>98.9</td>
            </tr>
            <tr>
                <td>2</td>
                <td>United States</td>
                <td>97.7</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Finland</td>
                <td>97.6</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Norway</td>
                <td>97.5</td>
            </tr>
            <tr>
                <td>5</td>
                <td>United Kingdom</td>
                <td>97.4</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Australia</td>
                <td>97.3</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Sweden</td>
                <td>96.1</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Germany</td>
                <td>96.0</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Netherlands</td>
                <td>95.6</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Canada</td>
                <td>95.4</td>
            </tr>
            <tr>
                <td>110</td>
                <td>Morocco</td>
                <td>30.1</td>
            </tr>
            <tr>
                <td>111</td>
                <td>Togo</td>
                <td>29.6</td>
            </tr>
            <tr>
                <td>112</td>
                <td>Nigeria</td>
                <td>27.8</td>
            </tr>
            <tr>
                <td>113</td>
                <td>Zambia</td>
                <td>26.5</td>
            </tr>
            <tr>
                <td>114</td>
                <td>Ghana</td>
                <td>26.4</td>
            </tr>
            <tr>
                <td>115</td>
                <td>Afghanistan</td>
                <td>25.4</td>
            </tr>
            <tr>
                <td>116</td>
                <td>Egypt</td>
                <td>25.0</td>
            </tr>
            <tr>
                <td>117</td>
                <td>Burundi</td>
                <td>21.7</td>
            </tr>
            <tr>
                <td>118</td>
                <td>Benin</td>
                <td>20.7</td>
            </tr>
            <tr>
                <td>119</td>
                <td>Liberia</td>
                <td>20.6</td>
            </tr>
        </tbody>
    </table>
</body>

<!-- Script is used to embed executable code -->
<script>
    $("#demo").DataTable();
</script>

## Hacks
<mark><b>This table shows the concern for climate change of the people in different countries.</b></mark>
[Source!](https://www.carbonbrief.org/global-survey-where-in-the-world-is-most-and-least-aware-of-climate-change/)

In [43]:
%%html

<body>
    <table id="demo" class="table">
        <thead>
            <tr>
                <th>Rank (of 119)</th>
                <th>Country</th>
                <th>Concern (%)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Ecuador</td>
                <td>98.6</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Bangladesh</td>
                <td>98.3</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Trinidad & Tobago</td>
                <td>98.2</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Venezuela</td>
                <td>98.1</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Morocco</td>
                <td>97.3</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Costa Rica</td>
                <td>96.9</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Colombia</td>
                <td>96.8</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Brazil</td>
                <td>96.5</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Portugal</td>
                <td>96.4</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Greece</td>
                <td>96.3</td>
            </tr>
        </tbody>
    </table>
</body>